* PUBLIC */
html {
    touch-action: manipulation;
}

body {
    height: 100vh;
    overflow: hidden;
}

#brankArea {
    height: 5vh
}

#numberArea {
    height: 10vh;
}

#judgeArea {
    height: 10vh;
}

#logArea {
    height: 25vh;
}

#inputArea {
    height: 25vh;

    .buttonNumber {
        font-size: 100%;
    }

    #inputLeftArea {
        width: 65vw;
    }

    #inputRightArea {
        width: 35vw;
    }

}
